body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #eff30e;
    color: #238a2c;
    padding: 20px;
    text-align: center;
  }
  
  .main {
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .grid-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .caption {
    margin-top: 10px;
    font-style: italic;
  }
  