body
{
    background: #165c0dcc;
    width: 1950px;
    margin: auto;
    text-align: justify;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url();
}

header {
    background-color: #2e4629;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100px;
    font-style: normal;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #1f1b1b;
}

nav ul {
    list-style: none;
    
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #4f6e3d;
    padding: 5px 20px;
    border-radius:5px ;
}

h1
{
    text-align: center;
background-color: rgb(18, 104, 22);
width: 400px;
margin: auto;
color: aliceblue;
}

h2
{
    text-align: center;
    background-color: rgb(18, 104, 22);
    margin: auto;
    color: aliceblue;
}

h3
{
    text-align: center;
    background-color: rgb(18, 104, 22);
    margin: auto;
    color: aliceblue;
}


.section1
{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.text1
{
    width: 400px;
    display: flex;
    border:1px, solid, ;
}

.text2
{   
    width: 400px;
    display: flex;
    border:1px, solid, ; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    margin-top: 40px;
    font-family:  "Bebas Neue", sans-serif;
    border-top: 2px solid #fff; 
  }
