
h1
{
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400px;
    font-style: normal;
    text-align: center;
}

body
{
    font-family: "Bebas Neue", sans-serif;
}


header
{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #103816;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
    
}
section {
    display: flex;

}

.img {
   display: flex;
   flex-direction: column;
   align-items: center;
   
    
}
.Motivo
{
    width: 400px;
    border : 10px solid #000000;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(62, 159, 62) 
    
}


.comoera
{
    width: 400px;
    border : 10px solid #000000;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(62, 159, 62) 
}

.fim
{
    width: 400px;
    border : 10px solid #000000;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(62, 159, 62) 
}

article
{
display: flex;
justify-content: space-around;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    display: inline;
    margin-right: 15px;

}
nav ul li a
{
    text-decoration: none;
    color: #fff;
    border: 2px solid #ffffff;
    padding: 5px 10px ;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #3aa520; 
    color: #ffffff; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    font-family:  "Bebas Neue", sans-serif;
    border-top: 2px solid #fff; 
  }