body
{
    background: #165c0dcc;
    width: 1400px;
    margin: auto;
    text-align: justify;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1
{
    text-align: center;
background-color: rgb(18, 104, 22);
width: 400px;
margin: auto;
color: aliceblue;
}

h2
{
    text-align: center;
    background-color: rgb(18, 104, 22);
    margin: auto;
    color: aliceblue;
}

h3
{
    text-align: center;
    background-color: rgb(18, 104, 22);
    margin: auto;
    color: aliceblue;
}


.section1
{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.text1
{
    width: 400px;
    display: flex;
    background-color: rgb(15, 145, 24);
    border:1px, solid, ;
}

.text2
{   
    width: 400px;
    display: flex;
    background-color: rgb(15, 145, 24);
    border:1px, solid, ; 
}


