body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

header {
    background-color: #9cb9a1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

header h1 {
    margin: 0;
    font-family:"Bebas Neue", sans-serif;
    font-size: 220%;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    display: inline;
    margin-right: 15px;

}
nav ul li a
{
    text-decoration: none;
    color: #fff;
    border: 2px solid #ffffff;
    padding: 5px 10px ;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.videos {
    margin-bottom: 50px;
}

.video {
    margin-bottom: 30px;
}

iframe {
    width: 50%;
    height: 400px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    font-family:  "Bebas Neue", sans-serif;
    border-top: 2px solid #fff; 
}