
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210313/pngtree-military-camouflage-texture-pattern-background-image_585744.jpg);
  }
  
  .img2 {
    width: 600px;
    height: 50vh;
    
  }
  
  
  header {
    background-color: #103816;
    color: #fff;
    font-family:  "Bebas Neue", sans-serif;
    font-weight: 400px;
    font-style: normal;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2d5e31;
  }
  
  header img {
    height: 40px;
    margin-right: 20px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #4f9428; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  
  nav ul li a:hover {
    background-color: #3aa520; 
    color: #ffffff; 
  }
  
 
  .texto {
    background-color: #165c0dcc;
    text-align: center;
    padding: 300px;
    color: #fff;
    height: 83vh;
    border-bottom: 2px solid #165c0dcc; 
  }
  
  .texto h2 {
    margin-bottom: 20px;
    
    
  }
  
  .texto p {
    margin-bottom: 25px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family:  "Bebas Neue", sans-serif;
    border-top: 2px solid #47703b; 
  }
  